/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-robust-hover: hsl(221, 63%, 32%, 0.8);
  --clr-green: hsl(110, 63%, 32%);
  --clr-green-hover: hsl(110, 63%, 32%, 0.8);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-flower-hover: hsl(2, 92%, 33%, 0.8);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-colorful-hover: hsl(303, 55%, 47%, 0.8);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-sunloving-hover: hsl(27, 88%, 33%, 0.8);
  --clr-air: hsl(180, 84%, 27%);
  --clr-air-hover: hsl(180, 84%, 27%, 0.8);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-decorative-hover: hsl(278, 79%, 40%, 0.8);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-edible-hover: hsl(68, 61%, 30%, 0.8);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-easy-hover: hsl(224, 86%, 58%, 0.8);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fragrant-hover: hsl(327, 51%, 47%, 0.8);
  --clr-fast: hsl(218, 11%, 34%);
  --clr-fast-hover: hsl(218, 11%, 34%, 0.8);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  --max-container-height: 600px;
  --min-container-height: 400px;
  --max-container-width: 900px;
  --min-image-height: 150px;
  --min-image-width: 150px;
  --max-image-height: 250px;
}

/* Utilities from ChatGPT */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  border: 0;
}

/* Composition */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
}

a {
  text-decoration: none;
  color: var(--clr-accent);
  text-transform: uppercase;


  &:hover,
  &:focus-visible {
    color: var(--clr-primary-dark);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

-------------------------------------------------------------Header/Navigation------------------------------------------------------------
/* Logotype */

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logo {
  width: 60px;
  height: 60px;
  padding-right: .5rem;
}

.logo-text {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-green-400);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Navigation */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--clr-primary-light-1);
}

.nav-links {
  display: flex;
  gap: 3rem;
  margin-left: 5rem;

  li {
    list-style: none;
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-icon span {
  width: 30px;
  height: 3px;
  background-color: var(--clr-green-400);
}

/* Mobile Menu */
@media (max-width: 576px) {

  nav {
    justify-content: space-between;
  }

  .logo-container {
    align-items: start;
    gap: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--clr-primary-light-1);
    position: absolute;
    top: 100px;
    right: 2px;
    width: 150px;
    border-radius: 5px;
    gap: 0;

    li {
      margin: .3rem 1.8rem;
      padding: .5rem;

      a {
        color: var(--clr-green-400);
      }
    }
  }

  .nav-links.active {
    display: flex;
    width: 100%
  }

  .menu-icon {
    display: flex;
  }
}

/* Tablets Meny */
@media (min-width: 577px) and (max-width: 824px) {

  nav {
    justify-content: space-between;
  }

  .logo-container {
    align-items: start;
    gap: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--clr-primary-light-1);
    position: absolute;
    top: 100px;
    right: 2px;
    border-radius: 5px;
    gap: 0;

    li {
      margin: .3rem 3rem;
      padding: .5rem;

      a {
        color: var(--clr-green-400);
      }
    }
  }

  .nav-links.active {
    display: flex;
    width: 100%
  }

  .menu-icon {
    display: flex;
  }
}

/* -------------------------------------------------------------Main/Hero------------------------------------------------------------ */
/* Hero */
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;

  h2 {
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 1.5rem;
  }

  p {
    font-size: var(--fs-400);
    text-align: center;
  }
}

.image-container {
  display: grid;
  /* Tre kolumner */
  grid-template-columns: repeat(5, 1fr);
  /* Två rader */
  grid-template-rows: 1fr 1fr;
  height: 100%;
  min-height: var(--min-container-height);
  max-height: var(--max-container-height);
  max-width: var(--max-container-width);
  border: 10px solid var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.crop-container-dandelion {
  grid-row: 1 / span 2;
  grid-column: 1;
  min-width: 280px;
  width: 100%;
  height: 100%;
}

.crop-container-rasberry {
  grid-row: 1;
  grid-column: 2 / span 2;
  width: 50%;
  height: 100%;
  max-height: var(--max-image-height);
}

.crop-container-cactus {
  grid-row: 1;
  grid-column: 3 / span 2;
  width: 50%;
  height: 100%;
  max-height: var(--max-image-height);
}

.crop-container-cactuses-outside {
  grid-row: 2;
  grid-column: 2 / span 2;
  width: 100%;
  height: 100%;
  max-height: var(--max-image-height);
}

.crop-container-steven-spassov {
  grid-row: 1;
  grid-column: 4 / span 2;
  width: 100%;
  height: 100%;
  max-height: var(--max-image-height);
}

.crop-container-flower {
  grid-row: 2;
  grid-column: 4 / span 2;
  width: 100%;
  height: 100%;
  max-height: var(--max-image-height);
}

.crop-container-dandelion img,
.crop-container-rasberry img,
.crop-container-cactus img,
.crop-container-cactuses-outside img,
.crop-container-steven-spassov img,
.crop-container-flower img {
  width: 100%;
  height: 100%;
  /* Anpassa bilderna utan deformation */
  object-fit: cover;
}

/* Mobile Hero */
@media (max-width: 576px) {

  .container {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-size: var(--fs-600);
      flex: 1;
    }

    p {
      text-align: start;
    }
  }

  .image-container {
    grid-template-columns: repeat(2, 1fr);
    /* Två kolumner istället för fyra */
    grid-template-rows: auto;
    /* Dynamiska rader */
  }

  .crop-container-dandelion {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-rasberry {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-cactus {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-leaf {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-steven-spassov {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-flower {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    height: 150px;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }
}

/* Tablets  Hero */
@media (min-width: 577px) and (max-width: 824px) {

  .image-container {
    grid-template-columns: repeat(3, 1fr);
    /* Tre kolumner istället för fyra */
    grid-template-rows: auto;
    /* Dynamiska rader */
  }

  .crop-container-dandelion {
    grid-row: 1;
    grid-column: 1;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-rasberry {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-cactus {
    grid-row: 1;
    grid-column: 3;
    width: 100%;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-cactuses-outside {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-steven-spassov {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }

  .crop-container-flower {
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    max-height: var(--max-image-height);
    min-width: var(--min-image-width);
  }
}

/*-------------------------------------------------------------Main/Newsletter------------------------------------------------------------*/

.newsletter-notification {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  background-color: var(--clr-primary-light-1);
  box-shadow: var(--border-shadow);
}

.main-container {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.9rem 0;
  /* margin: 0 2rem; */
}

.planting-container {
  width: 170px;
  width: 200px;
  padding: 2.5rem 2.9rem 3.3rem 2.9rem;
  /* margin-left: 2rem; */
  background-color: var(--clr-green-400);
  border-radius: 50%;
  text-align: center;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.submit-container {
  margin: 2rem;

  h2 {
    width: 100%;
    text-wrap: wrap;
    padding: 0 .3rem 1rem 0;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--clr-primary-dark);
    border-radius: 1.5rem;

    .input-field {
      padding: .5rem;
      text-align: center;
      line-height: 1.5rem;
      border: none;
      border-radius: 1.5rem;
      /* Gör att inputfältet fyller hela bredden förutom knappen */
      flex-grow: 1;
      outline: none;
    }

    .submit-btn {
      border: none;
      background-color: var(--clr-green-400);
      color: white;
      padding: 10px 20px;
      margin-left: 10px;
      /* Rundar hörnen på knappen */
      border-radius: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }

    .submit-btn:hover {
      background-color: var(--clr-green-hover);
      box-shadow: var(--border-shadow);
      transition: all 0.3s ease-in;
      transform: scale(1.02);
    }
  }
}

/* Mobile Newsletter */
@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem .9rem;
  }

  .submit-container {
    width: 100%;
    text-align: center;
    margin: .6rem 0;

    h2 {
      text-align: center;
    }

    .input-container {
      width: 98%;
      margin: 0 .6rem 0 .2rem;
    }
  }
}

/* Tablets Newsletter*/
@media (min-width: 577px) and (max-width: 824px) {

  .main-container {
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem 0 0;
  }

  .planting-container {
    width: 180px;
    height: 180px;
    padding: 2.5rem 2.9rem 3.3rem 2.9rem;
    margin-left: 2rem;
    background-color: var(--clr-green-400);
    border-radius: 50%;
    text-align: center;
  }

  .main-container {
    flex-direction: column;
  }

  .submit-container {
    width: 55%;
    text-align: start;
    margin: 2rem;
  }
}

/*Large screens Newsletter */
@media (min-width: 825px) {

  .main-container {
    flex-direction: row-reverse;
  }

  .submit-container {
    width: 65%;
    text-align: start;
  }

  .input-container {
    width: 100%;
    margin: 1rem 2.5rem 0 0;
  }
}

/*-------------------------------------------------------------Main/Plantlist------------------------------------------------------------*/

.plant-list {
  display: grid;
  gap: 1.2rem;
  padding: 1.5rem 2rem;

  .plant-info>p {
    height: auto;
    display: flex;
    align-items: start;
  }

  .plant-info {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 545px;
    gap: .4rem;
    padding: .7rem;
    background-color: var(--clr-primary-light-1);
    border: 5px solid var(--clr-neutral-100);
    box-shadow: var(--border-shadow);

    .plant-image-container {
      position: relative;
      width: auto;
      height: 220px;
      overflow: hidden;


      img.plant-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay-svg {
        position: absolute;
        width: 80px;
        height: 80px;
        opacity: 0.33;
        pointer-events: none;
      }
    }

    .plant-categories {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: .3rem;
      margin: 0.3rem 0;
    }

    .btn {
      width: auto;
      height: 25px;
      padding: 0 .8rem;
      font-size: var(--fs-100);
      font-weight: var(--fw-semi-bold);
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 1rem;
    }

    .btn-category-flowers {
      background-color: var(--clr-flower);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-flower-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-edible {
      background-color: var(--clr-edible);
      color: var(--clr-green-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-edible-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-greenery {
      background-color: var(--clr-green);
      color: var(--clr-green-100);
      border-radius: 1rem;
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-green-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-sun-loving {
      background-color: var(--clr-sunloving);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-sunloving-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-easy-to-grow {
      background-color: var(--clr-easy);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-easy-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-decorative {
      background-color: var(--clr-decorative);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-decorative-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-colorful {
      background-color: var(--clr-colorful);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-colorful-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-robust {
      background-color: var(--clr-robust);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-robust-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-fast-growing {
      background-color: var(--clr-fast);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-fast-hover);
        box-shadow: var(--border-shadow);
        transition: all 0.3s ease-in;
        transform: scale(1.02);
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-air {
      background-color: var(--clr-air);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-air-hover);
        box-shadow: var(--border-shadow);
        transform: scale(1.02);
        transition: all 0.3s ease-in;
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }

    .btn-category-fragrant {
      background-color: var(--clr-fragrant);
      color: var(--clr-neutral-100);
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-fragrant-hover);
        box-shadow: var(--border-shadow);
        transform: scale(1.02);
        transition: all 0.3s ease-in;
        text-decoration: none;
      }

      &:active {
        /* Återställ vid klick */
        transform: scale(1);
      }
    }
  }
}

/* Avatar */
.avatar {
  display: flex;
  align-items: start;
  gap: 2rem;
  margin-top: auto;

  .avatar-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--clr-primary-dark);
}

/* Mobile Plantlist */
@media (max-width: 576px) {
  .plant-list {
    display: grid;
    width: 100%;
    gap: .9rem;
    padding: 1.5rem 1rem;
    margin: 0 2rem;

    .plant-info {
      width: 100%;
      height: 480px;
    }

    .plant-image-container {
      width: 80%;
      aspect-ratio: 1/1;

      .overlay-svg {
        top: 30%;
        left: 35%;
      }
    }
  }
}

/* Tablets Plantlist */
@media (min-width: 577px) and (max-width: 824px) {
  .plant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    width: 100%;
    height: auto;

    .plant-info {
      width: 100%;
      height: auto;
      border: 10px solid var(--clr-neutral-100);
      min-height: 490px;
    }

    .plant-image-container {
      width: 80%;
      aspect-ratio: 1/1;

      .overlay-svg {
        top: 30%;
        left: 35%;
      }
    }
  }
}


/* Large Screen Plantlist */
@media (min-width: 825px) {
  .main-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .plant-list {
    grid-template-columns: repeat(4, 1fr);

    .plant-image-container {
      width: 80%;
      aspect-ratio: 1/1;

      .overlay-svg {
        top: 30%;
        left: 30%;
      }
    }
  }
}

/*-------------------------------------------------------------Main/Previous-Cultivations------------------------------------------------------------ */

.main-cultivations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.previous-cultivations {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  background-color: var(--clr-primary-light-1);
  margin-bottom: 2rem;
}

.cultivations-container {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  padding: 2.9rem;
  background-color: var(--clr-green-400);
  border-radius: 25rem;
  text-align: right;

  .planting-container {
    margin: 2rem;
    text-align: right;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.box-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: flex-start;
  width: 80%;

  h2 {
    text-align: start;
    padding: 1rem 0;
  }

  p {
    text-align: start;
  }

  .btn-container {
    display: flex;
    align-self: flex-end;


    .btn-planted-seedings {
      border: none;
      background-color: var(--clr-green-400);
      color: white;
      padding: 10px 20px;
      margin-left: 10px;
      border-radius: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-out;

      &:hover,
      &:focus-visible {
        background-color: var(--clr-green-hover);
        box-shadow: var(--border-shadow);
        transform: scale(1.01);
        transition: all 0.3s ease-in;
        text-decoration: none;

      }
    }
  }
}

/* Mobile previous cultivations */
@media (max-width: 576px) {
  .main-cultivations {
    flex-direction: column;
    justify-content: center;

    .box-container {
      align-items: center;
      width: 100%;
      margin: 0 .9rem;

      h2,
      p {
        text-align: center;
      }
    }
  }

  .btn-container {
    margin-top: 1rem;
    ;
  }
}

/* Tablets Previous-cultivations */
@media (min-width: 577px) and (max-width: 824px) {
  .main-cultivations {
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem 0 0;

    .box-container {
      align-items: center;
      width: 100%;

      h2,
      p {
        text-align: center;
      }
    }
  }
}

/*-------------------------------------------------------------Footer------------------------------------------------------------ */

.footer-main {
  background-color: var(--clr-green-400);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;

  .footer-left {
    max-width: 400px;
    display: grid;
    gap: 1rem;
    padding: .8rem;
  }

  .logo-footer-container {
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-top: 3.5rem;
  }

  span,
  p {
    color: var(--clr-neutral-100);
  }

  .icon-telephone {
    display: flex;
    gap: .4rem;

    img {
      width: 15px;
      height: 15px;
      object-fit: contain;
      margin-top: 0.3rem;
    }
  }
}

/* Footer navigation */
.footer-nav {
  background-color: var(--clr-green-400);
  margin-top: 3rem;

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    gap: .9rem;
  }

  ul > li {
    list-style: none;

    a {
      text-transform: none;
      color: var(--clr-neutral-100);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

  /* Mobile Footer */
  @media (max-width: 576px) {
    .footer-nav {
      display: none;
    }
  }

  /* Tablet Footer */
  @media (min-width: 577px) and (max-width: 824px) {
    .footer-main {
      flex-direction: column;
      align-items: start;
    }

    .footer-left {
      padding: 0 0 2rem 1rem;
    }

    nav.footer-nav {
      display: none;
    }
  }

  /* Large Screen Footer */
  /* @media (min-width: 825px) {
    .footer-nav {
        display: none;
      }
  } */